@mixin card {
    .card {
        width: 12rem;
        height: 16rem;
        position: relative;
        border: 1px solid $border-card;
        overflow: hidden;
        border-radius: 5px;
        margin: 0.5rem;
        &__directly {
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 2;
        }
        &__img {
            width: inherit;
            height: inherit;
            object-fit: cover;
            transition: all 0.3s ease-in-out;
        }
        &__play {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: opacity 0.4s ease-in-out;
        }
        &__rate {
            width: 100px;
            height: 100px;
            position: absolute;
            background-image: url('~@/assets/img/label_goods.png');
            background-repeat: no-repeat;
            right: 0;
            top: -1px;
            background-size: 80%;
            background-position: 24px 0px;
            font-size: 1rem;
            font-weight: 400;
            text-align: end;
            padding-right: 0.8rem;
            padding-top: 0.6rem;
            color: $rate-card;
        }
        &__name {
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            font-size: 1rem;
            color: $name-card;
            padding: 1rem;
            background: rgb(0,0,0);
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.884) 0%, rgba(255,255,255,0) 100%);
            text-transform: capitalize;
        }
        &:hover {
            .card__img {
                transform: scale(1.1) rotate(4deg);
                opacity: 0.85;
            }
            .card__play {
                opacity: 1;
            }
        }
    }
}

@mixin tl-ani {
    .tl-ani {
        padding-left: 1rem;
        background-image: url('~@/assets/img/news_ttl_bullet.png');
        background-repeat: no-repeat;
        background-size: 1%;
        color: $tl-color;
        font-size: 1.6rem;
        font-style: italic;
        span {
            text-transform: capitalize;
        }
    }
}

@mixin sign {
    .sign {
        width: 100%;
        margin: 5rem 0;
        &__form {
            width: 30rem;
            margin: 0 auto;
            background-color: $light;
            box-sizing: border-box;
            padding: 1rem;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            position: relative;
            // animation: login_scale 1s 1 ease-in-out;
            span {
                color: $tl-color;
                line-height: 1.4rem;
            }
            h1, h4, h2, h3 {
                text-align: center;
                color: $base-color;
                font-size: 1rem;
                margin: 0.5rem 0;
            }
            h4 {
                font-size: 1.2rem;
                color: $tl-color;
            }
            h2 > a {
                color: $tl-color;
                &:hover {
                    text-decoration: underline;
                }
            }
            h3 {
                font-size: 1.6rem;
                color: $tl-color;
            }
            button {
                display: block;
                font-size: 1.4rem;
                color: #fff;
                border: none;
                text-align: center;
                width: 100%;
                padding: 0.6rem 0;
                border-radius: 10px;
                margin: 0.5rem 0;
                cursor: pointer;
                transition: all 0.2s ease-in-out;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
                position: relative;
                z-index: 1;
                &:hover {
                    opacity: 0.8;
                }
            }
            .log {
                background-color: $tl-color;
                box-shadow: 0 0 10px rgba(255, 0, 157, 0.5);
            }
            .google {
                background-color: #25bd25;
                box-shadow: 0 0 10px rgba(0, 255, 85, 0.5);
            }
            .facebook {
                background-color: #5f1dff;
                box-shadow: 0 0 10px rgba(97, 24, 192, 0.5);

            }
            &::before {
                content: '';
                display: block;
                position: absolute;
                width: 20rem;
                height: 36rem;
                left: 80%;
                top: 0%;
                background-size: 100%;
                background-image: url('~@/assets/img/login_right.png');
                background-repeat: no-repeat;
                animation: 
                    ani_char 4s 1s infinite ease-in-out, 
                    ani_char_right_side 1s 1 ease-in-out;
            }
            &::after {
                content: '';
                display: block;
                position: absolute;
                width: 20rem;
                height: 38.1rem;
                right: 78%;
                bottom: 0%;
                background-size: 100%;
                background-image: url('~@/assets/img/login_left.png');
                background-repeat: no-repeat;
                animation: 
                    ani_char 4s 2s infinite ease-in-out, 
                    ani_char_left_side 1s 1 ease-in-out;
            }
        }
    }
}
