$base-color: #777790;
$text-green: #b5e745;
$bg-green: #b5e745;
$tl-color: #ff6699;
$tl-color-hov: rgb(221, 26, 91);
$bg-sidebar: #fff;
$rate-card: #fff;
$name-card: #ffffff;
$border-card: $base-color;
$light: #fff;
$error: #ff2b2b;
$success: #25bd25;
$warning: #fffb00;
$main-color: #777790;
$main-color-tspa: #ffa9bfe5;
$border-esp: #fff;
$box-sd-esp: #fff;
$border-avatar: $base-color;
$bg-esp: #fff;
$color-toast: #fff;
$bor-radius-card: 1rem;
:root {
  --plyr-color-main: #ffa9be;
}
