$base-color: #777790;
$text-green: #b5e745;
$bg-green: #b5e745;
$tl-color: #ff6699;
$tl-color-hov: rgb(221, 26, 91);
$bg-sidebar: #fff;
$rate-card: #fff;
$name-card: #ffffff;
$border-card: #77779052;
$light: #fff;
$error: #ff2b2b;
$success: #25bd25;
$warning: #fffb00;